*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    text-align: center;
    padding: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box th,td{
    padding: 10px 30px;
}

.add{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edicao {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 900px;
}
.edicao form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edicao input{
    margin: 5px;
    padding: 10px;
    width: 300px;
    outline: none;
}
.edicao button{
    padding: 10px 40px;
}
.apagar{
    display: none;
    flex-direction: column;
    align-items: center;
}
.apagar section{
    display: flex;
    flex-direction: row;
}
.sim{
    margin: 20px;
}
.nao{
    margin: 20px;
}