*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    padding: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box th,td{
    padding: 10px 30px;
}
.edicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}
.edicao form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edicao input{
    margin: 5px;
    padding: 10px;
    width: 300px;
    outline: none;
}
.edicao button{
    padding: 10px 40px;
}